<div class="container">
    <div class="card">
        <div class="card-content">
            <div class="columns">
                <div class="column">
                    <label for="" class="label">L</label>
                    <input type="text" class="input" #R>
                </div>
                <div class="column">
                    <label for="" class="label">A</label>
                    <input type="text" class="input" #G>
                </div>
                <div class="column">
                    <label for="" class="label">B</label>
                    <input type="text" class="input" #B>
                </div>
            </div>
            <button class="button is-success" (click)="calcularRGB(R.value, G.value, B.value)">
                Calcular LAB
            </button>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="columns">
                <div class="column">
                    <label for="" class="label">L</label>
                    <input type="text" class="input" #R_a>
                </div>
                <div class="column">
                    <label for="" class="label">A</label>
                    <input type="text" class="input" #G_a>
                </div>
                <div class="column">
                    <label for="" class="label">B</label>
                    <input type="text" class="input" #B_a>
                </div>
            </div>
            <button class="button is-success" (click)="calcularRGB_a(R_a.value, G_a.value, B_a.value)">
                Calcular LAB
            </button>
        </div>
    </div>
</div>
<hr>
<div class="card">
    <div class="card-content">
        <div class="cart" id="cart">

        </div>
        <div class="cart" id="cart_2">

        </div>
        <hr>
    </div>
</div>
<!-- <div class="container">
    <div class="titulo">
        <i class="fas fa-users"></i> Organización
    </div>
    <div class="card">
        <div class="card-content">
            <button class="button is-primary" (click)="NuevoDespartamento()">
                <span class="icon">
                    <i class="fas fa-sitemap"></i>
                </span>
                <span>
                    Nuevo departamento
                </span>
            </button> 
            <button class="button is-primary" (click)="NuevoDespartamento()">
                <span class="icon">
                    <i class="fas fa-user-tag"></i>
                </span>
                <span>
                    Nuevo Cargo
                </span>
            </button> 
            <button class="button is-primary">
                <span class="icon">
                    <i class="fas fa-user-plus"></i>
                </span>
                <span>
                    Nuevo empleado
                </span>
            </button>
            <hr>
            <div class="subtitulo">
                Departamentos
            </div>
            <table class="table is-fullwidth">
                <tr>
                    <th>Departamento</th>
                    <th>Cargos empleados</th>
                </tr>
                <tr *ngFor="let departamento of Departamentos;index as i">
                    <td>
                        <b>
                            {{departamento.departamento}} 
                        </b>
                    </td>
                    <td>
                        <ul>
                            <li *ngFor="let rol of departamento.roles">
                                • {{rol}}
                            </li>
                        </ul>
                        <button class="button is-success is-small" (click)="ver_rangos(i)">
                            <span class="icon">
                                <i class="far fa-eye"></i>
                            </span>
                            <span>
                                Ver rangos
                            </span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<hr>
<div class="card">
    <div class="card-content">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cédula de identidad</th>
                    <th>Fecha de Ingreso</th>
                    <th>Cargo</th>
                    <th>Departamento</th>
                    <th>Supervisor directo</th>
                    <th>Maquina o área</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="modal" [ngClass]="{'is-active':rangos}">
    <div class="modal-background" (click)="cerrarModal()"></div>
    <div class="modal-card">
        <div class="modal-card-body">
            <table class="table is-fullwidth">
                <tr>
                    <th>Rango</th>
                </tr>
                <tr *ngFor="let rango of roles_seleccionados">
                    {{rango}}
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="modal" [ngClass]="{'is-active':nuevo_departamento}">
    <div class="modal-background" (click)="NuevoDespartamento()"></div>
    <div class="modal-card">
        <div class="modal-card-body">
            <span class="subtitulo">
                Nuevo departamento
            </span>
            <table class="table is-fullwidth">
                <tr>
                    <th>Nombre del departamento
                        <div class="columns">
                            <div class="column">
                                <input type="text" class="input" placeholder='Nombre del departamento' id="Departamento">
                            </div>
                            <div class="column"></div>
                        </div>
                    </th>
                </tr>
                <tr *ngIf="rangos_dep.length > 0">
                    <td>
                        <table class="table is-fullwidth">
                            <tr>
                                <th>Rango</th>
                                <th>Eliminar</th>
                            </tr>
                            <tr *ngFor="let rango of rangos_dep;index as i">
                                <td>
                                    {{rango}}
                                </td>
                                <td class="red">
                                    <i class="fas fa-trash-alt" (click)="delete(i)"></i>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div class="columns">
                            <div class="column">
                                Rango:
                                <input type="text" class="input" placeholder="Rango" id="Rango_nuevo">
                            </div>
                            <div class="column is-3">
                                Agregar:
                                <button class="button is-success is-outlined" (click)="Agregar_Rango()">
                                    <span class="icon">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span>
                                        Agregar
                                    </span>
                                </button>
                            </div>
                        </div>
                    </th>
                </tr>
            </table>
            <hr>
            <button class="button is-primary" (click)="NuevoDepartamento()">
                <span>
                    Finalizar
                </span>
            </button>
        </div>
    </div>
</div> -->