<div class="container">
    <div class="titulo">
        Análisis de sustrato
    </div>

    <div class="card">
        <div class="card-content">
            <div class="field">
                <label for="" class="label">Lote a analizar</label>
                <div class="control">
                    <input type="text" class="input  n_lote" placeholder="N° de lote" (change)="buscarLote($event.target.value)">
                    <span>
                        <button class="button is-success">
                            <i class="fas fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>

            <table class="table is-fullwidth">
                <tr>
                    <th class="is-selected">Información del sustrato</th>
                </tr>
            </table>

            <table class="table is-fullwidth">
                <tr>
                    <th class="is-selected">Descripcion del sustrato</th>
                    <td colspan="3">{{material[0].material.nombre}} ({{material[0].material.ancho}}x{{material[0].material.largo}}) </td>

                    <th class="is-selected">N° de lote</th>
                    <td>{{material[0].lote}}</td>

                </tr>
                <tr>
                    <th class="is-selected">Presentación</th>
                    <td colspan="3">29 Paletas de 12.500 hojas y 1 de 9.000 hojas</td>

                </tr>
                <tr>
                    <th class="is-selected">Proveedor</th>
                    <td>Roxcel</td>

                    <th class="is-selected" width="120px">Cantidad</th>
                    <td colspan="3">371.500 hojas</td>
                </tr>

                <tr>
                    <th class="is-selected">Fabricante (molino)</th>
                    <td>{{material[0].material.marca}}</td>

                    <th class="is-selected">Convertidora</th>
                    <td colspan="3">Convertidora Finlandia C.A.</td>
                </tr>
                <tr>
                    <th class="is-selected">N° Orden de conversion</th>
                    <td>22015</td>
                </tr>
            </table>

        <hr>

        <div class="field">
            <label for="" class="label">Cantidad de muestras:</label>
            <div class="control">
                <input type="number" class="input n_lote_ is-small" min="0" [(ngModel)]="muestras">
            </div>
        </div>

        <hr>

        <div class="field">
            <label for="" class="label">Tamaño de muestra</label>
            <div class="columns">
                <div class="column ">
                    <div class="control">
                        <label for="" class="label">Ancho (cm)</label>
                        <input type="text" class="input is-small gramaje" [(ngModel)]="ancho">
                    </div>
                </div>
                <div class="column">
                    <div class="control">
                        <label for="" class="label">Largo (cm)</label>
                        <input type="text" class="input is-small gramaje" [(ngModel)]="largo">
                    </div>
                </div>
                <div class="column">
                </div>
                <div class="column">
                </div>
                <div class="column">
                </div>
                <div class="column">
                </div>
                <div class="column">
                </div>
                <div class="column">
                </div>
            </div>
        </div>
        <b>Area (cm²):</b>{{ancho * largo}}
        <hr>
        <!-- <table class="table">
            <tr>
                <th class="is-selected" colspan="5">ESPECIFICACIONES</th>
            </tr>
            <tr>
                <th>Mínimo</th>
                <th></th>
                <th></th>
                <th class="is-selected">Gramaje (g/m²)</th>
                <th class="is-selected">Cobb (g/m²)</th>

            </tr>
            <tr>
                <th>Nominal</th>
                <th></th>
                <th></th>
                <td style="text-align: center;">{{material[0].material.gramaje_e[0]}}</td>
                <th></th>
            </tr>
            <tr>
                <th>Máximo</th>
                <th></th>
                <th></th>
                <td style="text-align: center;">{{material[0].material.gramaje_e[1]}}</td>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <td style="text-align: center;">{{material[0].material.gramaje_e[2]}}</td>
                <th></th>
            </tr>
            <tr>
                <th class="is-selected" colspan="5">RESULTADOS</th>
            </tr>
            <tr>
                <th></th>
                <th class="is-selected">Masa inicial (g)</th>
                <th class="is-selected">Masa final (g)</th>
                <th class="is-selected">Gramaje (g/m²)</th>
                <th class="is-selected">Cobb (g/m²)</th>
            </tr>
            <tr style="text-align: center;">
                <th>Promedio (X̅)</th>
                <td>1,40</td>
                <td>1,62</td>
                <td>90</td>
                <td>
                    <div class="columns">
                        <div class="column is-1">
                            22
                        </div>
                        <div class="column is-1">
                            (T)
                        </div>
                        <div class="column is-1">
                            22
                        </div>
                        <div class="column is-1">
                            (B)
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="text-align: center;">
                <th>Desviación (S)</th>
                <td>0,02</td>
                <td>0,03</td>
                <td>1</td>
                <td>
                    <div class="columns">
                        <div class="column is-1">
                            2
                        </div>
                        <div class="column is-1">
                            (T)
                        </div>
                        <div class="column is-1">
                            1
                        </div>
                        <div class="column is-1">
                            (B)
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="text-align: center;">
                <th>mín</th>
                <td>1,37</td>
                <td>1,57</td>
                <td>88</td>
                <td>
                    <div class="columns">
                        <div class="column is-1">
                            20
                        </div>
                        <div class="column is-1">
                            (T)
                        </div>
                        <div class="column is-1">
                            20
                        </div>
                        <div class="column is-1">
                            (B)
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="text-align: center;">
                <th>máx</th>
                <td>1,45</td>
                <td>1,169</td>
                <td>93</td>
                <td>
                    <div class="columns">
                        <div class="column is-1">
                            25
                        </div>
                        <div class="column is-1">
                            (T)
                        </div>
                        <div class="column is-1">
                            24
                        </div>
                        <div class="column is-1">
                            (B)
                        </div>
                    </div>
                </td>
            </tr>
        </table> -->

        <table class="table is-fullwidth is-bordered">
            <tr>
                <th></th>
                <th class="is-selected" colspan="3">Especificación</th>
                <th class="is-selected" colspan="4">Resultado</th>
            </tr>
            <tr>
                <th></th>
                <th style="text-align: center;">mín</th>
                <th style="text-align: center;">Estandar</th>
                <th style="text-align: center;">máx</th>
                <th style="text-align: center;">X̅</th>
                <th style="text-align: center;">S</th>
                <th style="text-align: center;">mín</th>
                <th style="text-align: center;">máx</th>
            </tr>
            <tr>
               <th style="text-align: center;">Gramaje</th>
               <td style="text-align: center;">{{material[0].material.gramaje_e[0]}}</td>
               <td style="text-align: center;">{{material[0].material.gramaje_e[1]}}</td>
               <td style="text-align: center;">{{material[0].material.gramaje_e[2]}}</td>
               <td style="text-align: center;">{{promedio}}</td>
               <td style="text-align: center;">{{desviacion}}</td>
               <td style="text-align: center;"></td>
               <td style="text-align: center;"></td> 
            </tr>
            <tr>
                <th style="text-align: center;">Cobb top</th>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td> 
             </tr>
             <tr>
                <th style="text-align: center;">Cobb back</th>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td> 
             </tr>
        </table>

        <div class="columns">
            <div class="column is-1">
                <table class="table is-fullwidth is-striped">
                    <tr>
                        <th> </th>
                    </tr>
                    <tr>
                        <th class="is-selected">Muestra</th>
                    </tr>
                    <tr *ngFor="let e of [].constructor(muestras);index as i">
                        <th class="is-selected" style="text-align: center;">{{i + 1}}</th>
                    </tr>
                </table>
            </div>
        
            <div class="column">
                <div class="tabs">
                    <ul>
                      <li class="is-active"><a>Gramaje y Cobb</a></li>
                      <li><a>Calibre</a></li>
                      <li><a>Curling</a></li>
                      <li><a>Blancura</a></li>
                    </ul>
                </div>


                <!-- Gramaje -->
                <table class="table is-fullwidth datos">
                    <tr>
                        <th class="is-selected">
                            Masa inicial (g)
                        </th>
                        <th class="is-selected">
                            Gramaje (g/m²)
                        </th>
                        <th class="is-selected">
                            Masa final (g)
                        </th>
                        <th class="is-selected">
                            Cobb (g/m²)
                        </th>
                    </tr>
                    <tr *ngFor="let e of [].constructor(muestras);index as i">
                        <td>
                            <input type="number" class="input is-small gramaje" tabindex="{{i+1}}" [(ngModel)]="inicial[i]" (change)="calcular_gramaje(i)">
                        </td>
                        <td>
                            <div class="columns">
                                <div class="column is-3" *ngIf="gramaje[i]">
                                    {{(gramaje[i]).toFixed(2)}} 
                                </div>
                                <div class="column is-1">
                                    <ng-container *ngIf="gramaje[i] > material[0].material.gramaje_e[2]">
                                        <span class="red">
                                            <i class="fas fa-caret-up"></i>
                                        </span>
                                    </ng-container>
        
                                    <ng-container *ngIf="gramaje[i] < material[0].material.gramaje_e[0]">
                                        <span class="red">
                                            <i class="fas fa-caret-down"></i>
                                        </span>
                                    </ng-container>
        
                                    <ng-container *ngIf="gramaje[i] < material[0].material.gramaje_e[2] && gramaje[i] > material[0].material.gramaje_e[0]">
                                        <span class="green">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </ng-container>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="number" class="input is-small gramaje" tabindex="{{muestras+i+1}}" [(ngModel)]="final[i]">
                        </td>
                        <td>
                            <ng-container *ngIf="i+1 <= muestras/2">
                                <!--    <input type="number" class="input is-small gramaje"> (T) -->
                                   {{i}} (T)
                            </ng-container>
                            <ng-container *ngIf="i+1 > muestras/2">
                                <!-- (B) <input type="number" class="input is-small gramaje"> -->
                                (B) {{i}}
                            </ng-container>
                        </td>
                    </tr>
                </table>
                <!-- FIN Gramaje -->

            </div>
        </div>

        </div>
    </div>
</div>