<div class="modal" [ngClass]="{'is-active':solicitud}">
    <div class="modal-background" (click)="onClose()"></div>
    <div class="modal-card">
        <div class="modal-card-body">
            <div class="subtitulo">
                Solicitud de Material
            </div>
            <hr>
                <div class="field" *ngIf="orden.length > 0">
                    <label class="label">N° de Orden de Producción</label>
                    <div class="select">
                        <select (change)="TraerMateriales($event.target.value)">
                            <option value="">Selecciona OP</option>
                            <option class="option" value='{{Orden.sort}}' *ngFor="let Orden of orden">{{Orden.sort}}</option>
                        </select>
                    </div>
                </div>
                <p *ngIf="orden.length < 1">No hay ordenes de producción actualmente</p>
                <hr>
                <table class="table is-fullwidth" *ngIf="orden.length > 0 && materiales">
                    <thead>
                        <th>Material</th>
                        <th>Cantidad Solicitada</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let material of materiales; index as i">
                            <td>
                                {{material.producto.nombre}} 
                                <ng-container *ngIf="material.producto.ancho">
                                    {{material.producto.ancho}} x {{material.producto.largo}}
                                </ng-container>
                                ({{material.producto.marca}})
                            </td>
                            <td>
                                <input type="number" class="input" value="0" min="0" id="{{i}}" name="{{material.producto._id}}">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="field" *ngIf="materiales">
                    <div class="select">
                      <!-- <textarea class="textarea is-small has-fixed-size" placeholder="Motivo de la solicitud"></textarea> -->
                        <select name="" id="razon" class="selevt">
                            <option value="Fallas asociadas al sustrato">Fallas asociadas al sustrato</option>
                            <option value="Fallas asociadas a la tinta">Fallas asociadas a la tinta</option>
                            <option value="Inconsistencias en el inventario físico">Inconsistencias en el inventario físico</option>
                            <option value="Fallas asociadas al operador de impresión">Fallas asociadas al operador de impresión</option>
                            <option value="Fallas asociadas al operador de corte">Fallas asociadas al operador de corte</option>
                            <option value="Fallas asociadas al operador de troquelado">Fallas asociadas al operador de troquelado</option>
                            <option value="Fallas asociadas al operador de Pegado">Fallas asociadas al operador de Pegado</option>
                            <option value="Fallas del proceso de impresión">Fallas del proceso de impresión </option>
                            <option value="Fallas del proceso de pegado">Fallas del proceso de pegado</option>
                        </select>
                    </div>
                  </div>

                <hr *ngIf="materiales">

                <button class="button is-primary" (click)="FinalizarSolicitud()">Realizar Solicitud</button>
        </div>
    </div>
</div>