<div class="container mt-5">
    <div class="subtitulo">
        Estadísticas
    </div>
    <div class="card">
        <div class="card-content">

            <div class="columns">
                <div class="column">
                    <div class="control">
                        <label class="label">Desde:</label>
                        <input type="date" class="input" #desde>
                    </div>
                </div>
                <div class="column">
                    <div class="control">
                        <label class="label">Hasta:</label>
                        <input type="date" class="input" #hasta>
                    </div>
                </div>
                <div class="column">
                    <div class="control">
                        <label class="label"> </label>
                        <button class="button is-primary" (click)="Buscar_estadisticas(desde.value, hasta.value)">Buscar</button>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    <br>
    <!-- *******************************************************************************
    ORDENES ENCONTRADAS EN LA FECHA ESTIMADA
    ******************************************************************** -->
    <div class="card">
        <div class="card-content">
            <div class="carga" *ngIf="sinBusqueda">
                No se ha realizado ninguna consulta aun
                <i class="far fa-clock"></i>
            </div>
            <div class="carga" *ngIf="cargando">
                Cargando información por favor espere...
                <i class="fas fa-circle-notch"></i>
            </div>
            <div class="empty" *ngIf="vacio">
                No hay ordenes en la fecha indicada 
                <i class="fas fa-folder-open"></i>
            </div>

            <div class="info" *ngIf="!vacio && !cargando && !sinBusqueda">
                <div class="subtitulos">
                    <b>Cantidad de Ordenes:</b> {{Ordenes.length}}
                </div>
                <div class="orden">
                    <table class="table is-fullwidth">
                        <tr *ngFor="let orden of Ordenes">
                            <td>{{orden.sort}} <i class="far fa-eye" (click)='alert(orden._id)'></i></td>
                            <td>Gestiones <i class="fas fa-question-circle"></i></td>
                            <td>Consumo <i class="fas fa-chart-bar"></i></td>
                            <td>Adicionales <i class="fas fa-calculator"></i></td>
                            <td><b>Inicio: </b>{{orden.fecha | date: 'dd/MM/yyyy': 'UTC'}}</td>
                            <td><b>Despachado:</b> {{GetDespacho(orden.sort)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
        </div>
    </div>
<br>

<div class="columns" *ngIf="!vacio && !cargando && !sinBusqueda">
    <div class="column">
        <div class="card">
            <div class="card-content">
                <p class="subtitulos">
                    <i class="fas fa-comments-dollar"></i> Solicitudes Realizadas
                </p>
                <table class="table is-fullwidth">
                    <tr>
                        <th>Material</th>
                        <th>Fecha</th>
                    </tr>
                    <tr>
                        <td>material Solicitado</td>
                        <td>DD/MM/yyyy</td>
                    </tr>
                    <tr>
                        <td>material Solicitado</td>
                        <td>DD/MM/yyyy</td>
                    </tr>
                    <tr>
                        <td>material Solicitado</td>
                        <td>DD/MM/yyyy</td>
                    </tr>
                    <tr>
                        <td>material Solicitado</td>
                        <td>DD/MM/yyyy</td>
                    </tr>
                    <tr>
                        <td>material Solicitado</td>
                        <td>DD/MM/yyyy</td>
                    </tr>
                    <tr>
                        <td>material Solicitado</td>
                        <td>DD/MM/yyyy</td>
                    </tr>
                    <tr>
                        <td>material Solicitado</td>
                        <td>DD/MM/yyyy</td>
                    </tr>
                    <tr>
                        <td>material Solicitado</td>
                        <td>DD/MM/yyyy</td>
                    </tr>
                    <tr>
                        <td>material Solicitado</td>
                        <td>DD/MM/yyyy</td>
                    </tr>
                    <tr>
                        <td>material Solicitado</td>
                        <td>DD/MM/yyyy</td>
                    </tr>
                    <tr>
                        <td>material Solicitado</td>
                        <td>DD/MM/yyyy</td>
                    </tr>
                    <tr>
                        <td>material Solicitado</td>
                        <td>DD/MM/yyyy</td>
                    </tr>
                    <tr>
                        <td>material Solicitado</td>
                        <td>DD/MM/yyyy</td>
                    </tr>
                    <tr>
                        <td>material Solicitado</td>
                        <td>DD/MM/yyyy</td>
                    </tr>
                    <tr>
                        <td>material Solicitado</td>
                        <td>DD/MM/yyyy</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="subtitulos">
                    <i class="fas fa-chart-line"></i> Total Consumo:
                    <article class="message is-info">
                        <div class="message-body">
                            <strong> <i class="fas fa-sticky-note"></i> Sustrato:</strong>
                        </div>
                    </article>
                    <article class="message is-info">
                        <div class="message-body">
                            <strong><i class="fas fa-swatchbook"></i> Tinta:</strong>
                        </div>
                    </article>
                    <article class="message is-info">
                        <div class="message-body">
                            <strong><i class="fas fa-air-freshener"></i> Barniz:</strong>
                        </div>
                    </article>
                    <article class="message is-info">
                        <div class="message-body">
                            <strong><i class="fas fa-fill-drip"></i> Pega:</strong>
                        </div>
                    </article>
                    <article class="message is-info">
                        <div class="message-body">
                            <strong><i class="fas fa-boxes"></i> Cajas corrugadas:</strong>
                        </div>
                    </article>
                    <article class="message is-info">
                        <div class="message-body">
                            <strong><i class="fas fa-pallet"></i> Otros:</strong>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- **************************************************************
    ORDENES ENCONTRADAS EN LA FECHA ESTIMADA
    ******************************************************************** -->
</div>
