<app-gestiones
[modal_gestiones]='modal_gestiones'
[g_trabajos]="g_trabajos"
[g_gestiones]="g_gestiones"
(onCloseModal) = "modal_gestiones = false"></app-gestiones>
<app-consumo
[modal_consumos]="modal_consumos"
[c_lotes]="c_lotes"
[lote_mayor] = "lote_mayor"
[c_devoluciones] = "c_devoluciones"
(onCloseModal)="modal_consumos = false">
</app-consumo>
<div class="container mt-5">
    <div class="subtitulo">
        Estadísticas
    </div>
    <div class="card">
        <div class="card-content">

            <div class="columns">
                <div class="column">
                    <div class="control">
                        <label class="label">Desde:</label>
                        <input type="date" class="input" #desde>
                    </div>
                </div>
                <div class="column">
                    <div class="control">
                        <label class="label">Hasta:</label>
                        <input type="date" class="input" #hasta>
                    </div>
                </div>
                <div class="column">
                    <div class="control">
                        <label class="label"> </label>
                        <button class="button is-primary" (click)="Buscar_estadisticas(desde.value, hasta.value)">Buscar</button>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    <br>
    <!-- *******************************************************************************
    ORDENES ENCONTRADAS EN LA FECHA ESTIMADA
    ******************************************************************** -->
    <div class="card">
        <div class="card-content">
            <div class="carga" *ngIf="sinBusqueda">
                No se ha realizado ninguna consulta aun
                <i class="far fa-clock"></i>
            </div>
            <div class="carga_" *ngIf="cargando">
                <div class="loader">
                    <span style="--i:2"></span>
                    <span style="--i:3"></span>
                    <span style="--i:1"></span>
                    <span style="--i:4"></span>
                    <span style="--i:5"></span>
                    <span style="--i:6"></span>
                    <span style="--i:7"></span>
                    <span style="--i:8"></span>
                    <span style="--i:9"></span>
                    <span style="--i:10"></span>
                </div>
                <span class="text">Cargando, esto puede tomar un tiempo.</span>
            </div>
            <div class="empty" *ngIf="vacio">
                No hay ordenes en la fecha indicada 
                <i class="fas fa-folder-open"></i>
            </div>

            <div class="info" *ngIf="!vacio && !cargando && !sinBusqueda">
                <div class="subtitulos">
                    <b>Cantidad de Ordenes:</b> {{Ordenes.length}}
                </div>
                <div class="orden">
                    <table class="table is-fullwidth" *ngFor="let orden of Ordenes;let impar = odd;let par = even;" [ngClass]="{impar:impar}">
                        <tr>
                            <th colspan="3">
                                {{orden.producto.producto}} <br>
                            </th>
                        </tr>
                        <tr>
                            <td>{{orden.sort}} <i class="far fa-eye" (click)='alert(orden._id)'></i></td>
                            <td class="link" (click)="gestiones_(orden._id, orden.sort)">Gestiones <i class="fas fa-question-circle"></i></td>
                            <td class="link" (click)="consumos(orden._id, orden.sort)">Consumo <i class="fas fa-chart-bar"></i></td>
                            <td><b>Inicio: </b>{{orden.fecha | date: 'dd/MM/yyyy': 'UTC'}}</td>
                            <td><b>Despachado:</b> {{GetDespacho(orden.sort)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
        </div>
    </div>
<br>

<div class="columns" *ngIf="!vacio && !cargando && !sinBusqueda">
    <div class="column">
        <div class="card">
            <div class="card-content adicionales">
                <p class="subtitulos">
                    <i class="fas fa-comments-dollar"></i> Solicitudes Realizadas
                </p>
                <table class="table is-fullwidth">
                    <tr>
                        <th>Material</th>
                        <th>Cant.</th>
                        <th>Fecha</th>
                    </tr>
                    <!-- <div class="adicionales"> -->
                        <ng-container *ngFor="let adicional of adicionales">
                            <ng-container *ngFor="let material of adicional.material">
                                <tr>
                                    <td>{{material.material.nombre}} ({{material.material.marca}})</td>
                                    <ng-container *ngIf="material.material.grupo != '61fd54e2d9115415a4416f17'">
                                        <td>{{material.cantidad}} {{material.material.unidad}}</td>
                                    </ng-container>
                                    <ng-containe *ngIf="material.material.grupo == '61fd54e2d9115415a4416f17'">
                                        <td>{{material.EA_Cantidad}} {{material.material.unidad}}</td> 
                                    </ng-containe>
                                    <td>{{adicional.fecha | date: 'dd/MM/yyyy': 'UTC'}}</td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    <!-- </div> -->
                </table>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="subtitulos">
                    <i class="fas fa-chart-line"></i> Total Consumo:
                    <article class="message is-info">
                        <div class="message-body">
                            <strong> <i class="fas fa-sticky-note"></i> Sustrato:</strong>
                        </div>
                    </article>
                    <article class="message is-info">
                        <div class="message-body">
                            <strong><i class="fas fa-swatchbook"></i> Tinta:</strong>
                        </div>
                    </article>
                    <article class="message is-info">
                        <div class="message-body">
                            <strong><i class="fas fa-air-freshener"></i> Barniz:</strong>
                        </div>
                    </article>
                    <article class="message is-info">
                        <div class="message-body">
                            <strong><i class="fas fa-fill-drip"></i> Pega:</strong>
                        </div>
                    </article>
                    <article class="message is-info">
                        <div class="message-body">
                            <strong><i class="fas fa-boxes"></i> Cajas corrugadas:</strong>
                        </div>
                    </article>
                    <article class="message is-info">
                        <div class="message-body">
                            <strong><i class="fas fa-pallet"></i> Otros:</strong>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- **************************************************************
    ORDENES ENCONTRADAS EN LA FECHA ESTIMADA
    ******************************************************************** -->
</div>
